*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

/* border style */
.border{
    border: 1.5px solid transparent;
    transition: 0.5s;
}

.border:hover{
    border: 1.5px solid white;
}

header{
    position: sticky;
    top: 0;
    z-index: 10000;
}

/* main navbar  */
.navbar{
    width: 100%;
    height: 60px;
    padding: 0 20px 0 13px;
    background: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    gap:20px
}

.nav_logo{
    width: 113px;
}

.nav_address{
    padding: 8px 0;
}
.nav_address p:nth-child(1){
    color: #cccccc;
    font-size: .8rem;
    margin-left: 25px;
}

.nav_search{
    border-radius: 3px;
    height: 45px;
    flex: 1;
    display: flex;
    align-items: center;
    border: 1.5px solid transparent;
}

.nav_search:hover{
    border: 1.5px solid #FF9900;
}

.Search_select{
    background: #f3f3f3;
    width: 50px;
    height: 100%;
    text-align: center;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.Search_input{
    height: 100%;
    font-size: .9rem;
    border: none;
    flex: 1;
}

.nav_search i{
    width: 45px;
    height: 100%;
    font-size: 1.2rem;
    color: #0f1111;
    background: #FF9900;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_language{
    padding:  15px 0;
}

.nav_language select{
    background-color: transparent;
    border: none;
    color: white;
    font-size: .8rem;
    margin-left: -7px;
}

.nav_language i{
    font-size: .8rem;
}

.nav_signin, .nav_return{
    padding: 8px 0;
}
.nav_signin span, .nav_return span{
    font-size: 0.7rem;
}

.nav_signin p, .nav_return p{
    font-size: 0.8rem;
    font-weight: 600;
}


.nav_cart{
    padding: 10px 0;
}
.nav_cart i{
    font-size: 30px;
}

.nav_cart p{
    font-size: .8rem;
    font-weight: 600;
}

/* panel section */
.panel{
    height: 40px;
    width: 100%;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    gap:20px;
    padding:20px;
}


.panel p{
    color: white;
}

.panel_ul{
    list-style: none;
    flex: 1;
    display: flex;
    align-items: center;
    gap: 8px;
}

.panel_ul a{
    color: white;
    font-size: .7rem;
}

.panel span{
    color:white;
    font-size: .8rem;
    font-weight: 600;
}

/* main content section */
.hero_container{
    height: 1020px;
    background: url(image/hero_image.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;

    /* border: 3px solid red; */
}

.hero_content{
    width: 100%;
    height: 88.5%;
    /* border: 4px solid red; */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40px 60px, #f3f3f3 250px);
    margin-top: 120px;
    padding: 80px 20px;
    position:absolute;

}

.hero_msg{
    background-color: white;
    padding: 10px 0;
}

.hero_msg p{
    font-size: .8rem;
    text-align: center;
}

.hero_msg a{
    color: #007185;
}

.hero_shopping{
    height: 100%;
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 320px);
    grid-gap:20px;
}

.boxstyle{
    padding: 20px;
    background-color: white;
    box-shadow: 0 8px 10px 2px #222f3d1e;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: scale 0.5s;
}

.boxstyle:hover{
    scale: 1.05;
}

.boxstyle h2{
    font-size: 1.1rem;
}

.boxstyle a{
    font-size: .8rem;
    color: #007185;
}

.box1_image{
    background: url(image/box1_image.jpg);
    background-size:cover;
    background-position: center;
    flex: 1;
}

.box2_image{
    background: url(image/box2_image.jpg);
    background-size:cover;
    background-position: center;
    flex: 1;
}

.box3_image{
    background: url(image/box3_image.jpg);
    background-size:cover;
    background-position: center;
    flex: 1;
}

.box4_image{
    background: url(image/box4_image.jpg);
    background-size:cover;
    background-position: center;
    flex: 1;
}

.box5_image{
    background: url(image/box5_image.jpg);
    background-size:cover;
    background-position: center;
    flex: 1;
}

.box6_image{
    background: url(image/box6_image.jpg);
    background-size:cover;
    background-position: center;
    flex: 1;
}

.box7_image{
    background: url(image/box7_image.jpg);
    background-size:cover;
    background-position: center;
    flex: 1;
}

.box8_image{
    background: url(image/box8_image.jpg);
    background-size:cover;
    background-position: center;
    flex: 1;
}

/* footer */
footer{
    width: 100%;
    background-color: #232F3E;
}

.foot_panel1{
    background-color: #37475a;
    color: white;
    text-align: center;
    font-size: .7rem;
    font-weight: 600;
    padding: 15px 0;
}

.foot_panel2{
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
}

.foot_panel2 ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.foot_panel2 ul p{
    color: white;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.foot_panel2 ul li a{
    color: #dddddd;
    font-size: .8rem;
}

.foot_panel3 .hr{
    height: .1px;
    background: #dddddd3a;
}
.foot_panel3 img{
    width: 90px;
    margin-left: 50%;
    transform: translateX(-50%);

}

.foot_panel4 p{
    background-color: #131A22;
    color: white;
    font-size: .72rem;
    text-align: center;
    padding: 20px 0;
}